In [1]:
from joblib import Memory
import sklearn.datasets as sd
from sklearn import svm

In [2]:
mem = Memory("./cache")

In [3]:
filelist = ["./url_svmlight/Day%s.svm" % i for i in range(0,121)]

In [7]:
@mem.cache
def get_data_elements():
    data = sd.load_svmlight_files(filelist)
    return data[0], data[1]

In [10]:
@mem.cache
def get_data():
    data = sd.load_svmlight_files(filelist)
    return data

In [11]:
data = get_data()

WARNING:root:[MemorizedFunc(func=<function get_data at 0x7fa249e41378>, location=./cache/joblib)]: Clearing function cache identified by __main__--home-giordano-Documenti-Universita-seas-Primo anno - secondo semestre-Data-Analitycs-Data-Analysis-project-__ipython-input__/get_data

________________________________________________________________________________
[Memory] Calling __main__--home-giordano-Documenti-Universita-seas-Primo anno - secondo semestre-Data-Analitycs-Data-Analysis-project-__ipython-input__.get_data...
get_data()
_______________________________________________________get_data - 120.7s, 2.0min

In [12]:
print(data[0].getnnz())
len(data[1])

1847536

16000

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
day1 = sd.load_svmlight_file("./url_svmlight/Day1.svm")

In [14]:
print(day1[0][0])

  (0, 3)	0.0788382
  (0, 4)	0.124138
  (0, 5)	0.117647
  (0, 10)	0.285714
  (0, 15)	0.1
  (0, 16)	0.723562
  (0, 17)	0.688263
  (0, 18)	0.274458
  (0, 20)	0.142856
  (0, 21)	0.142857
  (0, 22)	0.142857
  (0, 23)	1.0
  (0, 24)	1.0
  (0, 27)	1.0
  (0, 35)	1.0
  (0, 43)	1.0
  (0, 61)	1.0
  (0, 63)	1.0
  (0, 65)	1.0
  (0, 67)	1.0
  (0, 69)	1.0
  (0, 71)	1.0
  (0, 81)	1.0
  (0, 83)	1.0
  (0, 85)	1.0
  :	:
  (0, 155182)	1.0
  (0, 155193)	1.0
  (0, 155194)	1.0
  (0, 155195)	1.0
  (0, 155196)	1.0
  (0, 155197)	1.0
  (0, 155198)	1.0
  (0, 155199)	1.0
  (0, 155200)	1.0
  (0, 155201)	1.0
  (0, 155202)	1.0
  (0, 155203)	1.0
  (0, 155204)	1.0
  (0, 155205)	1.0
  (0, 155206)	1.0
  (0, 155207)	1.0
  (0, 155208)	1.0
  (0, 155209)	1.0
  (0, 155210)	1.0
  (0, 155211)	1.0
  (0, 155212)	1.0
  (0, 1028503)	1.0
  (0, 2062402)	1.0
  (0, 3065540)	1.0
  (0, 3124062)	1.0

In [10]:
print(len(day1[1]))

20000

In [12]:
pd.DataFrame(day1[1])

         0
0     -1.0
1     -1.0
2     -1.0
3      1.0
4     -1.0
5      1.0
6     -1.0
7      1.0
8     -1.0
9     -1.0
10     1.0
11     1.0
12    -1.0
13    -1.0
14    -1.0
15     1.0
16    -1.0
17    -1.0
18    -1.0
19     1.0
20    -1.0
21    -1.0
22    -1.0
23    -1.0
24    -1.0
25     1.0
26     1.0
27    -1.0
28    -1.0
29    -1.0
...    ...
19970 -1.0
19971 -1.0
19972  1.0
19973  1.0
19974  1.0
19975 -1.0
19976  1.0
19977  1.0
19978  1.0
19979  1.0
19980 -1.0
19981 -1.0
19982 -1.0
19983 -1.0
19984 -1.0
19985 -1.0
19986  1.0
19987  1.0
19988 -1.0
19989  1.0
19990 -1.0
19991 -1.0
19992 -1.0
19993 -1.0
19994  1.0
19995 -1.0
19996 -1.0
19997 -1.0
19998 -1.0
19999 -1.0

[20000 rows x 1 columns]

In [15]:
print(day1[0])

  (0, 3)	0.0788382
  (0, 4)	0.124138
  (0, 5)	0.117647
  (0, 10)	0.285714
  (0, 15)	0.1
  (0, 16)	0.723562
  (0, 17)	0.688263
  (0, 18)	0.274458
  (0, 20)	0.142856
  (0, 21)	0.142857
  (0, 22)	0.142857
  (0, 23)	1.0
  (0, 24)	1.0
  (0, 27)	1.0
  (0, 35)	1.0
  (0, 43)	1.0
  (0, 61)	1.0
  (0, 63)	1.0
  (0, 65)	1.0
  (0, 67)	1.0
  (0, 69)	1.0
  (0, 71)	1.0
  (0, 81)	1.0
  (0, 83)	1.0
  (0, 85)	1.0
  :	:
  (19999, 155193)	1.0
  (19999, 155194)	1.0
  (19999, 155195)	1.0
  (19999, 155196)	1.0
  (19999, 155197)	1.0
  (19999, 155198)	1.0
  (19999, 155199)	1.0
  (19999, 155200)	1.0
  (19999, 155201)	1.0
  (19999, 155202)	1.0
  (19999, 155203)	1.0
  (19999, 155204)	1.0
  (19999, 155205)	1.0
  (19999, 155206)	1.0
  (19999, 155207)	1.0
  (19999, 155208)	1.0
  (19999, 155209)	1.0
  (19999, 155210)	1.0
  (19999, 155211)	1.0
  (19999, 155212)	1.0
  (19999, 424434)	1.0
  (19999, 1135228)	1.0
  (19999, 2120931)	1.0
  (19999, 2186470)	1.0
  (19999, 2223935)	1.0